/* src/assets/styles/home.css */

#home {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

input {
  width: 80%;
  padding: 12px;
  font-size: 1rem;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #28a745;
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
}

button:hover {
  background-color: #218838;
}

.notification {
  margin-top: 20px;
  padding: 10px;
  border-left: 6px solid;
  color: #333;
  font-size: 1.2rem;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.notification.green {
  background-color: #d4edda;
  border-color: #28a745;
}

.notification.yellow {
  background-color: #fff3cd;
  border-color: #ffc107;
}

.notification.red {
  background-color: #f8d7da;
  border-color: #dc3545;
}

p[style="color: red"] {
  color: red;
  font-weight: bold;
}
