/* src/assets/styles/login.css */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Центрирование формы по вертикали */
}

form {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для формы */
  max-width: 400px;
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fffbea; /* Легкий желтый фон */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #007bff; /* Синий цвет границы при фокусе */
}

button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838; /* Темнее зелёный при наведении */
}
